// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#main-container {
  display: flex;
  flex-direction: row;
  width: 1110px;
  margin: 30px auto;
}
.sidebar-menu {
  width: 20%;
  margin-top: 42px;
}
.nav-active {
  color: #f8fafc;
  background: #3490dc;
}