<template>
    <div class="map-container">
        <GmapMap
                :center="mapCenter"
                :style="'width: 100%; height: 500px'"
                :zoom="10"
                :mapTypeId="'terrain'"
        >
            <GmapPolyline
                :path="polyPath"
                :geodesic="plyGeodesic"
                :strokeColor="strokeColor"
                :strokeOpacity="strokeOpacity"
                :strokeWeight="strokeWeight" />
        </GmapMap>
    </div>
</template>

<script>

    export default {
        props: {
            gpsData: {}
        },
        data(){
            return {
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2,
                plyGeodesic: true
            };
        },
        computed: {
            mapCenter(){
                return {
                    lat: this.gpsData.tracks[0].segments[0].points[0].latitude,
                    lng: this.gpsData.tracks[0].segments[0].points[0].longitude
                }
            },
            polyPath() {
                let points = this.gpsData.tracks[0].segments[0].points;

                return points.map( point => {
                    return {
                        lat: point.latitude,
                        lng: point.longitude
                    }
                });
            }
        }
    }

</script>

<style>
    .map-container  {
        width: 100%;
        height: 100%;
    }
</style>
